<!-- <hello name="{{ name }}"></hello> -->

<app-sub-component
  description="with i18n"
  firstTest="braces: expected:1, actual:{{ firstTest }}"
  [secondTest]="'brackets: expected:2, actual:' + secondTest"
  thirdTest="braces again: expected:3, actual:{{ thirdTest }}"
  forthTest="multi: expected:1 2 3, actual:{{ firstTest }} {{ secondTest }} {{
    thirdTest
  }}"
  i18n-firstTest
  i18n-secondTest
  i18n-thirdTest
  i18n-forthTest
>
</app-sub-component>

<app-sub-component
  description="without i18n"
  firstTest="braces: expected:1, actual:{{ firstTest }}"
  [secondTest]="'brackets: expected:2, actual:' + secondTest"
  thirdTest="braces again: expected:3, actual:{{ thirdTest }}"
  forthTest="multi: expected:1 2 3, actual:{{ firstTest }} {{ secondTest }} {{
    thirdTest
  }}"
></app-sub-component>

<div>
  <h2>Raw values</h2>
  <p>firstTest: {{ firstTest }}</p>
  <p>secondTest: {{ secondTest }}</p>
  <p>thirdTest: {{ thirdTest }}</p>
</div>
