<!-- <hello name="{{ name }}"></hello> -->

<app-sub-component description="with i18n" firstTest="braces: {{ firstTest }}:firstTest:"
  [secondTest]="'brackets: ' + secondTest" thirdTest="braces again: {{ thirdTest }}"
  forthTest="multi: {{ firstTest }} {{ secondTest }} {{ thirdTest }}" i18n-firstTest="@@test_one:firstTest:"
  i18n-secondTest="@@test_two" i18n-thirdTest="@@test_three:thirdTest:" i18n-forthTest="@@test_four">
</app-sub-component>


<app-sub-component description="without i18n" firstTest="braces: {{ firstTest }}"
  [secondTest]="'brackets: ' + secondTest" thirdTest="braces again: {{ thirdTest }}"
  forthTest="multi: {{ firstTest }} {{ secondTest }} {{ thirdTest }}"></app-sub-component>